.icono{
    width: 35px;
    margin-right: 12px;
}

.twitter{
    width: 30px;
}

.youtube{
    width: 30px;
    margin-right: 10px;
}

.facebook{
    width: 30px;
    margin-right: 15px;
}

.navbar-brand{
    font-family: 'Roboto Slab', serif;
    margin-right: 5px;
    margin-top: 5px;
}

.nav-link{
    font-family: 'Roboto', sans-serif;
    margin-top: 4px;
}